{
  env: {
    browser: true,
    node: true
  },
  extends: ["eslint:recommended", "plugin:react/recommended"],
  parser: "babel-eslint",
  plugins: ["react"],
  rules: {
    strict: 1
  },
  settings: {
    # Allow absolute paths in imports
    # https://github.com/benmosher/eslint-plugin-import/tree/master/resolvers
    'import/resolver': {
      node: {
        moduleDirectory: ['node_modules', 'src/client']
      }
    }
  }
}
